:root {
    --black: #181C14;
    --grey: #3C3D37;
    --green: #697565;
    --tan: #ECDFCC;
    --red: #a2080c;
    --animation-timing: 300ms ease-in-out;
}

@font-face {
    font-family: 'Againts';
    src: url('assets/fonts/subset-Againts.eot');
    src: url('assets/fonts/subset-Againts.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/subset-Againts.woff2') format('woff2'),
        url('assets/fonts/subset-Againts.woff') format('woff'),
        url('assets/fonts/subset-Againts.ttf') format('truetype'),
        url('assets/fonts/subset-Againts.svg#Againts') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

body {
    background: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--tan);
}

h2 {
    font-weight: 100;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: var(--tan);
    cursor: pointer;
}

a:hover {
    color: white;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
}

nav {
    background: black;
    font-weight: 400;
    font-size: clamp(1.5rem, 3vw, 2rem);
    padding: .5rem;
    height: 3.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    position: absolute;
    right: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list__item {
    padding-right: .5rem;
}

.nav-list-item:checked {
    background-color: red;
}

.logo {
    margin: auto;
}

.logo img {
    height: clamp(2rem, 3vw, 2.5rem);
}

.bar {
    display: block;
    position: relative;
}

.bar::before,
.bar::after,
.bar {
    width: 40px;
    height: 5px;
    background-color: var(--tan);
    transition: transform var(--animation-timing);
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    left: 0;
}

.bar::before {
    bottom: 12px;
}

.bar::after {
    top: 12px;
}

.hamburger {
    position: absolute;
    outline: none;
    appearance: none;
    border: none;
    background: none;
    margin-left: .5rem;
    cursor: pointer;
}

.menu-open {
    transform: rotate(45deg);
}

.menu-open::before {
    opacity: 0;
}

.menu-open::after {
    transform: rotate(90deg) translate(-12px);
}

.menu-title {
    display: none;
    position: absolute;
}

.sidebar {
    translate: -120%;
    transition: translate var(--animation-timing);
    position: absolute;
    top: 50px;
    background-color: var(--black);
    width: 15rem;
    /* height: 60vh; */
    padding: 1.5rem;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, .5);
    z-index: 3;
}

.sidebar--visible {
    translate: -4%;
}

.sidebar__list {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    list-style: none;
}

.sidebar__item {
    margin-bottom: 1rem;
    cursor: pointer;
}

.search-bar {
    position: absolute;
    background: var(--tan);
    box-sizing: border-box;
    height: 3rem;
    width: 3rem;
    border-radius: 500px;
    border: 4px solid var(--tan);
    padding: 5px;
    right: 0;
    transition: all var(--animation-timing);
}

#search {
    position: absolute;
    top: 0;
    left: 0;
    outline: 0;
    border: none;
    background-color: var(--tan);
    border-radius: 16px;
    font-size: 1rem;
    padding: .6rem .8rem;
    width: 100%;
}

.fa-magnifying-glass {
    box-sizing: border-box;
    border-radius: 100px;
    color: black;
    padding: 9px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    transform: all 1s;
}

.search-bar:hover {
    width: 300px;
    cursor: pointer;
}

.search-bar:hover input {
    display: block;
}

.search-bar:hover i {
    background: black;
    color: var(--tan);
}

.hero__carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 650px;
    background: var(--black);
    overflow: hidden;
}

.hero__carousel__button--left,
.hero__carousel__button--right {
    position: absolute;
    z-index: 2;
    top: 56px;
    background: none;
    border: none;
    color: var(--tan);
    font-size: 4rem;
    top: 352px;
    cursor: pointer;
}

.hero__carousel__button--left:hover,
.hero__carousel__button--right:hover,
.hero__carousel__button--left:focus,
.hero__carousel__button--right:focus {
    color: white;
}

.hero__carousel__button--left {
    left: 0px;
}

.hero__carousel__button--right {
    right: 0px;
}

.hero__carousel__slider {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0%;
    width: 400%;
    background: var(--black);
    transition: left 500ms ease-in-out;
}

.hero__carousel__slide {
    width: 100vw;
}

.hero__carousel__slide span {
    background: none;
    position: absolute;
    font-family: 'Againts', sans-serif;
    margin-left: min(10vw, 200px);
}

#mThai {
    font-size: clamp(4.5rem, 10vw, 10rem);
    color: #a2080c;
    top: 1.5rem;
}

#mma {
    font-size: clamp(4rem, 10vw, 10rem);
    color: var(--green);
    top: 10px;
    /* margin-left: max(30px, 7vw); */
}

#bjj {
    font-size: clamp(3rem, 10vw, 5rem);
    color: var(--tan);
    top: 20px;
}

.hero__carousel__slide img {
    height: 650px;
    object-fit: cover;
}

.hero__carousel__slide.gary img {
    object-position: 20% 100%;
}

.hero__carousel__cta {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
}

.cta {
    font-size: 2rem;
    position: absolute;
    top: 165px;
    background: none;
    color: var(--tan);
    border: 3px solid var(--tan);
    padding: 10px;
    border-radius: .5rem;
    z-index: 2;
    display: none;
    cursor: pointer;
}

.cta.current-slide {
    display: block;
}

.cta:hover,
.cta:focus {
    background: rgba(0, 0, 0, .2);
    color: white;
    border: 3px solid white;
}

.hero__carousel__indicators {
    position: absolute;
    display: flex;
    top: 600px;
    left: calc(50% - 2.8rem);
    z-index: 2;
}

.hero__carousel__indicator {
    border: 2px solid var(--tan);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: .25rem;
    background: rgba(24, 28, 20, .5);
    cursor: pointer;
}

.hero__carousel__indicator:focus,
.hero__carousel__indicator:hover {
    border: 2px solid white;
}

.hero__carousel__indicator.current-slide {
    background: rgba(236, 223, 204, .95);
}

.hero__footer {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}

.attribution {
    display: none;
}

.is-hidden {
    display: none;
}

main {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-top: 1px solid var(--green);
}

.collection {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 328px);
    justify-content: space-evenly;
    gap: 2rem;
    margin-bottom: 3rem;
}

.collection-title {
    font-size: 2.5rem;
    font-weight: 200;
    padding: 10px;
}

.collection__img {
    display: block;
    height: 350px;
    background-image: radial-gradient(var(--tan), #6d6d6a);
}

.collection__img img {
    height: 100%;
}

.item-text {
    margin-top: 1rem;
}

footer {
    border-top: 2px solid var(--tan);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 3rem 0;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    margin: 0 0 2rem 2rem;
    width: 300px;
}

.footer-nav li {
    padding: .5rem 0;
}

.footer-nav a:hover,
.footer-nav a:focus {
    font-weight: 600;
}

.contact {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 1rem 2rem 1rem;
    padding-top: 1rem;
}

.contact h3 {
    margin-bottom: 1rem;
}

.social a {
    padding: .75rem;
}

.newsletter {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
}

.signUp input {
    margin: .5rem 0;
    width: 300px;
    padding: .25rem;
}

.signUp button {
    background: var(--green);
    border: none;
    color: var(--tan);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    padding: 0.25rem .5rem;
    cursor: pointer;
}

.signUp button:hover,
.signUp button:focus {
    background: var(--tan);
    color: var(--green);
}

.fa-copyright {
    font-size: 1rem;
    position: absolute;
    right: .5rem;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .menu-title {
        display: inline;
    }
}